@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


/*Variáveis padrões*/
  :root{
    --cor-primaria-laranja:#F58A07;
    --cor-primaria-verde:#669D31;
    --cor-secundaria-amarela:#FEEA00;
    --cor-secundaria-begeClaro:#FEFADC;
    --cor-secundaria-preto:#2D2C2C;
    --fonte-logo:"Mochiy Pop One", sans-serif;
    --fonte-principal-conteudo:"DM sans", sans-serif;
  }

  .mochiy-pop-one-regular {
    font-family: "Mochiy Pop One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  body{
    background-color: #FEFADC;
  }

  main{
    height: 0px;
  }

/* Header */
nav {
    background: none;
    box-shadow: none !important;
  }

  .navbar{
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    box-shadow: none !important;
    transition: 0.3s ease;
    width: 100%;
}

.logoBroto {
    object-fit: contain;
}

.nav-item .nav-inicio{
    font-family: var(--fonte-principal-conteudo);
    font-size: 1.2rem;
    color: var(--cor-secundaria-begeClaro);
    border: 2px solid var(--cor-secundaria-begeClaro);
    border-radius: 36px;
    padding: 10px;
}

.nav-item .nav-links{
    font-family: var(--fonte-principal-conteudo);
    font-size: 1.2rem;
    transition: border 0s ease;
    padding: 10px;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 36px;
    color: var(--cor-secundaria-begeClaro);
}

.nav-item .nav-links:hover{
    border: 2px solid var(--cor-secundaria-begeClaro);
    border-radius: 36px;
    transition: border 0.6s ease;
}

.nav-item .nav-linki{
    color: var(--cor-secundaria-preto);
    font-family: var(--fonte-principal-conteudo);
    font-size: 1.2rem;
    transition: ease 0 border;
    padding: 10px;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 36px;
    color: var(--cor-secundaria-preto);
}

.nav-item .nav-linki:hover{
    border: 2px solid var(--cor-secundaria-preto);
    border-radius: 36px;
    transition: border 0.8s ease;
}

  .iconsNav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }

/* final header */

/* footer */
footer {
    background-color: var(--cor-primaria-laranja);
    color: var(--cor-secundaria-begeClaro) ;
    font-weight: bold ; 
  }

  footer .nav-link, h5,li{
    color: var(--cor-secundaria-begeClaro) ;
    font-weight: bold;
  }

  footer p {
      font-size:1.2em;
      width: 60%;
      color: var(--cor-secundaria-begeClaro) ;
  }

  @media (min-width:991px) {

      nav .nav-link::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 0%;
          height: 5px;
          background-color: var(--cor-secundaria-amarela);
          visibility: hidden;
          transition: 0.3s ease-in-out;
      }
      
      nav .nav-link:hover::before, .nav-link.active::before {
          width: 100%;
          visibility: visible;
      }
  }