* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    position: relative;
    text-decoration: none;
    color: black;
    font-family: var(--fonte-principal-conteudo);
    text-align: left;
  }
#login_page{
    background-color: #669D31;
    width: 60%;
    height: auto;
    margin: auto;
    border-radius: 36px;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
      width: 138px;
      margin: auto;
    }
  }
  legend {
    color: var(--Secundria, #FEFADC);
    font-size: 2vw;
    font-weight: 400;
    text-align: center;
    font-family: var(--fonte-logo);
    display: flex;
    flex-direction: column;
  }
  #login_form{
    width: 70%;
    top: 25px;
  }
  fieldset div{
    margin-top: 5%;
  }
  .dois{
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
    label{
      white-space: nowrap;
    }
  }
  .tres{
    margin: 0px;
    width: 48%;
    input{
      text-align: left;
    }
    #cep{
      width: 80%;
    }
    #rua{
      width: 120%;
      right: 20%;
    }
  }
  form{
    label{
      color: #fefadc;
      width: 100%;
      font-size: 1.5vw;
      font-weight: 400;
    }
  }
  input,#input {
    padding: 25px 0px 25px 0px;
    font-size: 1.2vw;
    border-radius: 36px;
    background: var(--Secundria, #FEFADC);
    width: 100%;
  }
  #input{
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    color: black;
    input{
      width: 10%;
      transform: scale(1.5);
    }
  }
  .enviar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
    a{
      color: #FEFADC;
      font-size: 1.6vw;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      letter-spacing: 1.2px;
    }
  }
  .enviar button {
    width: 40%;
    height: 60px;
    border-radius: 36px;
    background: var(--Primria, #F58A07);
    text-align: center;

  }
  p{
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1.2px;
  }
  @media only screen and (max-width:800px){
    #login_page{
      width: 89.7%;
    }
    #login_form{
      width: 90%;
    }
  }