@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    background-color: #FEFADC;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-evenly;
    margin-bottom: 80px;
}

#content{
    width: 20%;
    height: 600px;
    border-radius: 36px;
    background:  #669D31;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
}

#button{
    width: 150px;
    height: 40px;
    border-radius: 36px;
    font-weight: 600;
    background: #F58A07;
    font-family: "DM Sans";
    justify-content: center;
    text-align: center;
}

p{
    font-family: "DM Sans";
    font-size: 24px;
    font-weight: 400;
    font-style: normal!important;
    color: #FEFADC;
}

#text{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#plantas{
    width: 300px;
    height: 400px;
}

#espada{
    width: 200px;
    height: 400px;
}

#lirio{
    width: 400px;
    height: 800px;
}

#limao{
    width: 400px;
    height: 350px;
}

#bambu{
    width: 200px;
    height: 400px;
}

#carnivora{
    width: 350px;
    height: 300px;
}