@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --cor-primaria-laranja: #F58A07;
    --cor-primaria-verde: #669D31;
    --cor-secundaria-amarela: #FEEA00;
    --cor-secundaria-begeClaro: #FEFADC;
    --cor-secundaria-preto: #2D2C2C;
    --fonte-logo: "Mochiy Pop One", sans-serif;
    --fonte-principal-conteudo: "DM sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-secundaria-begeClaro);
}

.main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 80px;
}

.grande {
    font: 5rem;
    color: #FEFADC;
}
li a{
    text-decoration: none;
}
