*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body{
    background-color: #FEFADC;
}

section{
    display: flex;
    justify-content: center;
    top: 50px;
}

#content{
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 450px;
    border-radius: 36px;
    background: #669D31;
    margin-top: 70px ;
}

#foto{
    width:1000px;
    height: 700px;
    bottom: 205px;
}