:root{
    --cor-primaria-laranja:#F58A07;
    --cor-primaria-verde:#669D31;
    --cor-secundaria-amarela:#FEEA00;
    --cor-secundaria-begeClaro:#FEFADC;
    --cor-secundaria-preto:#2D2C2C;
    --fonte-logo:"Mochiy Pop One", sans-serif;
    --fonte-principal-conteudo:"DM sans", sans-serif;
}

.mochiy-pop-one-regular {
    font-family: "Mochiy Pop One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.area-cards {
    width: 95%;
    margin: auto !important; 
    display: flex;
    justify-content:space-around;


}

.card {
    transition: all 1.1s;
}

.card:hover {
    transform: scale(1.1);
}


.card .planosImgs {
    max-width: 80%;
    transition: all 1.1s;
}

.card:hover .planosImgs {
    transform: scale(1.2);
}


.card-body {
    margin-top: 0%;
}

.fw-bold {
    color: var(--cor-secundaria-begeClaro);
}


.buttonQueroPlano .queroPlano {
    transition: 0.5s;

}

.buttonQueroPlano .queroPlano:hover {
    background-color: #3b6d0c !important;
    color: #FEFADC !important;
}
main{
    margin-top: 150px;
}